appsettings==0.8
asn1crypto==0.24.0
astroid==1.6.4
attrs==18.1.0
Automat==0.7.0
builtwith==1.3.3
catkin-pkg==0.4.8
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cloudpickle==0.5.6
constantly==15.1
cryptography==2.2.2
cssselect==1.0.3
Django==1.11.7
docutils==0.14
ExifRead==2.1.2
GDAL==2.2.4
gippy==1.0.0
gpxpy==1.3.4
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
isort==4.3.4
lazy-object-proxy==1.3.1
loky==2.3.1
lxml==4.2.3
mccabe==0.6.1
mysqlclient==1.3.13
numpy==1.14.2
parsel==1.5.0
pbr==4.2.0
pip==18.0
psutil==5.4.7
pyasn1==0.4.3
pyasn1-modules==0.2.2
pycparser==2.18
PyDispatcher==2.0.5
pylint==1.9.1
PyMySQL==0.9.2
pyOpenSSL==18.0.0
pyparsing==2.2.1
pyproj==1.9.5.1
python-dateutil==2.7.3
pytz==2018.4
PyYAML==3.13
queuelib==1.5.0
requests==2.18.4
Scrapy==1.5.0
service-identity==17.0.0
setuptools==28.8.0
Shapely==1.6.4.post2
six==1.11.0
stevedore==1.29.0
Twisted==18.4.0
urllib3==1.26.5
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
w3lib==1.19.0
wrapt==1.10.11
xmltodict==0.11.0
you-get==0.4.1099
zope.interface==4.5.0
